title: Kengo's Blog
email: kengo@hey.com
description: >-
  Thoughts on software engineering and other things.
baseurl: ""
url: "https://kengoa.github.io"
github_username: KengoA

theme: minima

plugins:
  - jekyll-feed

highlighter: rouge

markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  input: GFM

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - code/
